<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diagnosa</title>
  </head>
  <body>
    <h1>Hasil Diagnosa</h1>
    <h3>Nama Penyakit/Hama :</h3>
    <ul>
      <li><%= results.name %></li>
    </ul>
  </body>
</html>
