<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diagnosa</title>
  </head>
  <body>
    <h1>Hasil Diagnosa</h1>

    <h2>Positif <%= results.length %> Penyakit/Hama</h2>
    <ul>
      <% for( const result of results ) { %>
      <h3>Nama Penyakit/Hama:</h3>
      <li><%= result.name %></li>
      <h3>Gejala</h3>
      <li><%= result.gejala %></li>
      <h3>Solusi</h3>
      <li><%= result.solusi %></li>
      <% } %>
    </ul>
  </body>
</html>
