<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/g4" method="post">
        <h2>Apakah Memiliki Gejala Pucuk dan tunas-tunas samping berwarna keperak-perakan?</h2>
        <input type="radio" name="validator" id="true" value="y" checked> <label for="true">Ya</label>
        <input type="radio" name="validator" id="false" value="n"> <label for="false">Tidak</label>
        <button>Submit</button>
    </form>
</body>
</html>